@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

$background-color: #f8f9fa;
$font: 'Poppins', sans-serif;

body {
  background-color: $background-color;
  font-family: $font;
  min-width: 360px;
}
